
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Admin Control Panel</h2>
     <p class="btn btn-default">@Html.ActionLink("Category", "Index", "Categories")</p>
    <p class="btn btn-default">@Html.ActionLink("Sub Category", "Index", "SubCategories")</p>
    <p class="btn btn-default">Receipie</p>
</div>

