
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="jumbotron">
    <h1>Admin Home</h1>
    <p class="lead">This is home page for admin login....</p>
    <p class="btn btn-default">@Html.ActionLink("Category", "Index", "Categories")</p>
    <p class="btn btn-default">@Html.ActionLink("SubCategory", "Index", "SubCategories")</p>
    <p class="btn btn-default">@Html.ActionLink("Receipy", "Index", "Receipies")</p>
</div>